<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <resultMap id="chap" type="Chapter">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="download" property="download"/>
        <result column="size" property="size"/>
        <association property="wen" column="wenid" select="com.baizhi.dao.queryById"/>
    </resultMap>
    <select id="queryAll" resultMap="chap">
      select id,title,download,size,wenid from c_chapter
    </select>
    <select id="queryById" parameterType="String" resultType="chapter">
     select id,title,download,size,wenid from c_chapter
    </select>
    <insert id="save" parameterType="chapter">
        insert into c_chapter values(#{id},#{title},#{download},#{size},#{wen.id})
    </insert>
        <delete id="delete" parameterType="String">
            delete from c_chapter where id=#{id}
        </delete>
    <select id="queryByWenId" parameterType="String" resultType="Chapter">
        select id,title,download,size from c_chapter where wenid=#{id}
    </select>
    <delete id="deleteByWenId" parameterType="String">
        delete from c_chapter where wenid=#{id}
    </delete>
</mapper>
