<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ReflectDao">

    <insert id="save" parameterType="Reflect">
        insert into c_reflect values(#{id},#{description},#{date},#{user.id})
    </insert>
</mapper>
