<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <insert id="save" parameterType="User">
        INSERT into c_user values(#{id},#{name},#{farmington},#{nickname},#{photo},
        #{location},#{province.id},#{city.id},#{description},#{phone},#{password},#{salt},#{sex})
    </insert>
<select id="queryByName" parameterType="String" resultType="User">
  select id,name,farmington,nickname,photo,location,province,city,description,
  phone,password,salt,sex from c_user where name=#{name}
</select>
    <delete id="delete" parameterType="String">
        delete from c_user where id=#{id}
    </delete>
<update id="update" parameterType="User">
    update c_user set name=#{name},farmington=#{farmington},nickname=#{nickname},
    photo=#{photo},location=#{location},province=#{province.id},city=#{city.id},
    description=#{description},phone=#{phone},password={password},
    salt=#{salt},sex=#{sex} where id=#{id}
</update>
    <select id="queryById" parameterType="String" resultType="User">
        select id,name,farmington,nickname,photo,location,province,city,description,
        phone,password,salt,sex from c_user where name=#{name}
    </select>
</mapper>
