<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LearnDao">
    <insert id="save" parameterType="Learn">
    insert into c_learn values(#{id},#{name},#{type},#{user.id})
    </insert>
    <delete id="delete" parameterType="String">
        delete from c_learn where id=#{id}
    </delete>
    <update id="update" parameterType="Learn">
        update c_learn set name=#{name} where id=#{id}
    </update>
    <select id="queryById" parameterType="String" resultType="Learn">
        select id,name,type from c_learn
    </select>
    <select id="queryAll" resultType="Learn">
        select id,name,type from c_learn where userid is null
    </select>
</mapper>
